@model Tarea9y10.Models.ViewModel
@using System.Net;
@using Newtonsoft.Json;


@{
    ViewData["Title"] = "Create";

}




    <form method="post" asp-controller="Integrantes" asp-action="create" enctype="multipart/form-data">

        <div class="form-horizontal">
            <h2>Datos Personales</h2>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input asp-for="imgModel.Foto" />
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.Nombres, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="integrantes.Nombres" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.Apellidos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="integrantes.Apellidos" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.Sexo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="radio" asp-for="integrantes.Sexo" value="Hombre">
                    <label for="hombre">Hombre</label><br>
                    <input type="radio" asp-for="integrantes.Sexo" value="Mujer">
                    <label for="mujer">Mujer</label><br>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.FechaNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="date" class="form-control" asp-for="integrantes.FechaNacimiento" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.PaisNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 dropdown">
                    <select class="custom-select" asp-for="integrantes.PaisNacimiento">
                        @foreach (var item in ViewBag.Paises)
                        {

                            <option value="@item">@item</option>
                        }

                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.CiudadNacimiento, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="integrantes.CiudadNacimiento" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.PaisResidenciaAct, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 dropdown">

                    <select class="custom-select" asp-for="integrantes.PaisResidenciaAct">
                        @foreach (var item in ViewBag.Paises)
                        {

                            <option value="@item">@item</option>
                        }

                    </select>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.CiudadResidenciaAct, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="integrantes.CiudadResidenciaAct" />
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-md-3">
                        <div class="form-group two-fields">
                            <label for="">Direccion</label>
                            <div class="input-group">
                                <input type="text" asp-for="direccion.Provincia" required class="form-control" placeholder="Provincia">
                                <input type="text" asp-for="direccion.Sector" required class="form-control" placeholder="Sector">
                                <input type="text" asp-for="direccion.Calle" required class="form-control" placeholder="Calle">
                                <input type="text" asp-for="direccion.NumVivienda" required class="form-control" placeholder="Num. Vivienda">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="integrantes.Telefono" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="integrantes.Celular" />
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.integrantes.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" asp-for="integrantes.Email" />
                </div>
            </div>

            <div class="form-group">
                <label>Tipo de Documento de Identidad</label>
                <div class="col-md-10">
                    <input type="radio" asp-for="documentoIdentificacion.TipoDocumento" value="Cedula">
                    <label>Cedula</label><br>
                    <input type="radio" asp-for="documentoIdentificacion.TipoDocumento" value="Pasaporte">
                    <label>Pasaporte</label><br>
                    <input type="radio" asp-for="documentoIdentificacion.TipoDocumento" value="RNC">
                    <label>RNC</label><br><br />

                    <label>Suba el Documento o Foto</label><br />

                        <input asp-for="imgModel.Documento" multiple />
                </div>
            </div>


        </div><br />

        <h2>Datos Familiares</h2>
        <hr />


        <h2>Datos Laborales</h2>
        <hr />

        <h2>Datos Academicos</h2>
        <hr />

        <h2>Datos Eclesiasticos</h2>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.eclesiasticos.FechaConversion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" asp-for="eclesiasticos.FechaConversion" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.eclesiasticos.FechaBautismo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" asp-for="eclesiasticos.FechaBautismo" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eclesiasticos.FechaAceptadoIglesia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" asp-for="eclesiasticos.FechaAceptadoIglesia" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.eclesiasticos.DenominacionPerteneciente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Bautista">
                <label for="Bautista">Bautista</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Pentecostal">
                <label for="Pentecostal">Pentecostal</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Metodista">
                <label for="Metodista">Metodista</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Catolica">
                <label for="Catolica">Catolica</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Presbiteriana">
                <label for="Presbiteriana">Presbiteriana</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Adventista">
                <label for="Adventista">Adventista</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Templo	Bíblico">
                <label for="Templo Bíblico">Templo Bíblico</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Menonita">
                <label for="Menonita">Menonita</label><br>
                <input type="radio" asp-for="eclesiasticos.DenominacionPerteneciente" value="Luterana">
                <label for="Luterana">Luterana</label><br>

                <label>Otro</label>
                <input type="text" class="form-control" asp-for="eclesiasticos.DenominacionPerteneciente">
            </div>
        </div>

        <div class="form-group">
            <label>Nombre de la iglesia a la que asiste actualmente</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="eclesiasticos.NombreIglesiaActual" />
            </div>
        </div>

        <div class="form-group">
            <label>Si asiste a esta iglesia	por un tiempo menor	a un año, ¿dónde se congregaba antes?</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="eclesiasticos.IglesiaAnterior" />
            </div>
        </div>

        <div class="form-group">
            <label>Nombre del pastor de su iglesia actual</label>
            <div class="col-md-10">
                <input type="text" class="form-control" asp-for="eclesiasticos.NombrePastorActual" />
            </div>
        </div>

        <div class="form-group">
            <label>Ha sido Disciplinado alguna vez?</label>
            <div class="col-md-10">
                <input type="radio" asp-for="eclesiasticos.Disciplinatura" value="Si">
                <label for="hombre">Si</label><br>
                <input type="radio" asp-for="eclesiasticos.Disciplinatura" value="No">
                <label for="mujer">No</label><br><br />

                <label>Si elijio "Si" diga cuantas veces</label><br />
                <input type="number" class="form-control" asp-for="eclesiasticos.Disciplinatura" /><br /><br />
                <label>Causa/s</label><br />
                <textarea class="form-control" style="overflow:auto;resize:none" asp-for="eclesiasticos.CausaDisciplina" rows="5" cols="25"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>En la actualidad ocupa usted alguna de estasfunciones:</label>
            <div class="col-md-10">
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Pastor">
                <label>Pastor</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Anciano">
                <label>Anciano</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Diacono">
                <label>Diacono</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Misionero">
                <label>Misionero</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Lider Escuela Dominical">
                <label>Lider Escuela Dominical</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Lider Minist. de Jóvenes">
                <label>Lider Minist. de Jóvenes</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Lider Minist. de Caballeros">
                <label>Lider Minist. de Caballeros</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Lider Minist. de Damas">
                <label>Lider Minist. de Damas</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Lider Minist. de Níños">
                <label>Lider Minist. de Níños</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Lider	Minist.	de Matrimonios">
                <label>Lider Minist. de Matrimonios</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Lider	de grupo pequeño (Célula)">
                <label>Lider de grupo pequeño (Célula)</label><br>
                <input type="radio" asp-for="eclesiasticos.FuncionesOcupa" value="Ninguno">
                <label>Ninguno</label><br>


            </div>
        </div>

        <div class="form-group">
            <label>¿Cuáles	son	los	ministerios	en	los	que	ha	servido</label>
            <div class="col-md-10">
                <textarea class="form-control" style="overflow:auto;resize:none" asp-for="eclesiasticos.MinisterioServidos" rows="5" cols="25"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>¿En	cuál de	estos ministerios considera	que	tuvo mayor fruto? ¿Por qué?</label>
            <div class="col-md-10">
                <textarea class="form-control" style="overflow:auto;resize:none" asp-for="eclesiasticos.MinisteriosFrutosPQ" rows="5" cols="25"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Considerando	sus	dones y	talentos, ¿a qué ministerio	cree usted	que	Dios lo(a) está	 llamando?</label>
            <div class="col-md-10">
                <textarea class="form-control" style="overflow:auto;resize:none" asp-for="eclesiasticos.DiosLlamado" rows="5" cols="25"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>¿Qué	metas	tiene	para	su	vida?</label>
            <div class="col-md-10">
                <textarea class="form-control" style="overflow:auto;resize:none" asp-for="eclesiasticos.MetasVida" rows="5" cols="25"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label>¿Cuenta	con	el respaldo	de sus autoridades eclesiásticas para realizar estos estudios?</label>
            <div class="col-md-10">
                <input type="radio" asp-for="eclesiasticos.RespaldoEstudios" value="Si">
                <label>Si</label><br>
                <input type="radio" asp-for="eclesiasticos.RespaldoEstudios" value="No">
                <label>No</label><br><br />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </form>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

