

@{
    ViewData["Title"] = "Details";

    AplicacionDbContext bd = new AplicacionDbContext();

    Integrantes integrantes = bd.Integrantes.Find(ViewBag.id);

    int id = ViewBag.id;

    var integrantesD = from ints in bd.Integrantes
                       where ints.IntegranteId == id
                       select ints;
    var documentoIdnt = from doc in bd.DocumentoIdentificacion
                        where doc.DocIdentidadId == id
                        select doc;
    var direccions = from dir in bd.Direccion
                     where dir.DireccionId == id
                     select dir;
    var laborales = from labs in bd.DatosLaborales
                    where labs.DatosLaboralesId == id
                    select labs;
    var academicos = from acd in bd.DatosAcademicos
                     where acd.DatosAcademicosId == id
                     select acd;
    var eclesiastico = from ecl in bd.DatosEclesiasticos
                       where ecl.DatosEclesiasticosId == id
                       select ecl;
    var familiares = from fam in bd.DatosFamiliares
                     where fam.DatosFamiliaresId == id
                     select fam;

}

<h1>Detalles</h1>
@foreach (var integrante in integrantesD)
{
    <h2 class="text-center">Datos Personales</h2>
    <strong class="text-primary">ID Integrantes: </strong>
    @integrante.IntegranteId
    <br />
    <strong class="text-primary">Nombre: </strong>
    @integrante.Nombres
    <br />
    <strong class="text-primary">Apellido: </strong>
    @integrante.Apellidos
    <br />
    <strong class="text-primary">Celular: </strong>
    @integrante.Celular
    <br />
    <strong class="text-primary">Ciudad De Nacimiento: </strong>
    @integrante.CiudadNacimiento
    <br />
    <strong class="text-primary">Ciudad De Residencia Actual: </strong>
    @integrante.CiudadResidenciaAct
    <br />
    <strong class="text-primary">Email: </strong>
    @integrante.Email
    <br />
    <strong class="text-primary">Fecha De Nacimiento: </strong>
    @integrante.FechaNacimiento
    <br />
    <strong class="text-primary">Imagen: </strong>
    <img class="img-thumbnail img-fluid" src="~/Imagenes2x2/@integrante.Foto" width="150" />
    <br />
    <strong class="text-primary">Pais De Nacimiento: </strong>
    @integrante.PaisNacimiento
    <br />
    <strong class="text-primary">Pais De Residencia: </strong>
    @integrante.PaisResidenciaAct
    <br />
    <strong class="text-primary">Sexo: </strong>
    @integrante.Sexo
    <br />
    <strong class="text-primary">Telefono: </strong>
    @integrante.Telefono
    <br />



}
@foreach (var direccion in direccions)
{
    <h1 class="text-center">Direccion </h1>

    <strong class="text-primary">Calle: </strong>
    @direccion.Calle
    <br />
    <strong class="text-primary">Numero De Vivienda: </strong>
    @direccion.NumVivienda
    <br />
    <strong class="text-primary">Provincia: </strong>
    @direccion.Provincia
    <br />
    <strong class="text-primary">Sector: </strong>
    @direccion.Sector
    <br />



}

@foreach (var documento in documentoIdnt)
{
    <h1 class="text-center">Documentos </h1>

    <strong class="text-primary">Imagen del Documento: </strong>
    @documento.NombreDocumento
    <br />
    <strong class="text-primary">Tipo De Documento: </strong>
    <img class="img-thumbnail img-fluid" src="~/Imagenes2x2/@documento.NombreDocumento" width="150" />
    <br />




}
@foreach (var familiar in familiares)
    
{
    <h1 class="text-center">Familiar</h1>
    <strong class="text-primary">Tiene hijos?</strong>
    @familiar.Hijos_Si_No
    <br />
    <strong class="text-primary">Cantidad De Hijos</strong>
    @familiar.CantidadHijos
    <br />
    <strong class="text-primary">Estado Civil</strong>
    @familiar.EstadoCivil
    <br />

    <strong class="text-primary">Nombre De Pareja</strong>
    @familiar.NombrePareja
    <br />
}
@foreach (var laboral in laborales)
{

    <h1 class="text-center">Datos Laborales </h1>

    <strong class="text-primary">Nombre De La Empresa O Negocio: </strong>
    @laboral.NomEmpresaNegocio
    <br />
    <strong class="text-primary">Ocupacion Actual: </strong>
    @laboral.OcupacionActual
    <br />
    <strong class="text-primary">Profesion: </strong>
    @laboral.Profesion
    <br />
    <strong class="text-primary">Telefono De La Empresa O Negocio: </strong>
    @laboral.TelefonoEmpresaNegocio
    <br />

}
@foreach (var academi in academicos)
{
    <h1 class="text-center">Datos Academicos </h1>

    <strong class="text-primary">Nivel De Estudio: </strong>
    @academi.NivelEstudio
    <br />
    <strong class="text-primary">Explusado o Suspendido: </strong>
    @academi.ExplusadoSuspendido
    <br />
    <strong class="text-primary">Razones Del Expulso o Suspendido </strong>
    @academi.RazonEXSUS
    <br />


}



@foreach (var eclesiastic in eclesiastico)
{
    <h1 class="text-center">Datos Eclesiaticos</h1>
    <strong class="text-primary">Cantidad De Veces En Disciplina: </strong>

    @eclesiastic.CantVecesDisciplina
    <br />
    <strong class="text-primary">Causa De La Disciplina: </strong>
    @eclesiastic.CausaDisciplina
    <br />
    <strong class="text-primary">Denominacion Perteneciente: </strong>
    @eclesiastic.DenominacionPerteneciente:
    <br />
    <strong class="text-primary">Llamado: </strong>
    @eclesiastic.DiosLlamado
    <br />
    <strong class="text-primary">Disciplida u: </strong>
    @eclesiastic.Disciplinatura
    <br />
    <strong class="text-primary">Fecha De Aceptacion En La Iglesia: </strong>
    @eclesiastic.FechaAceptadoIglesia
    <br />
    <strong class="text-primary">Fecha De Bautismo: </strong>
    @eclesiastic.FechaBautismo
    <br />
    <strong class="text-primary">Fecha De Conversion: </strong>
    @eclesiastic.FechaConversion
    <br />
    <strong class="text-primary">Funciones en la iglesia: </strong>
    @eclesiastic.FuncionesOcupa
    <br />
    <strong class="text-primary">Iglesias Anteriores: </strong>
    @eclesiastic.IglesiaAnterior
    <br />
    <strong class="text-primary">Metas De La Vida: </strong>
    @eclesiastic.MetasVida
    <br />
    <strong class="text-primary">Ministerios Servicio: </strong>
    @eclesiastic.MinisterioServidos
    <br />
    <strong class="text-primary">Frutos Ministerio? </strong>
    @eclesiastic.MinisteriosFrutosPQ
    <br />
    <strong class="text-primary">Nombre De La Iglesia Actualmente: </strong>
    @eclesiastic.NombreIglesiaActual
    <br />
    <strong class="text-primary">Nombre Pastor: </strong>
    @eclesiastic.NombrePastorActual
    <br />
    <strong class="text-primary">Respaldo En Estudio: </strong>
    @eclesiastic.RespaldoEstudios
    <br />


}


